@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc;
  --foreground: #2a3335;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#editorjs h2 {
  @apply text-4xl font-bold;
}
#editorjs h3 {
  @apply text-3xl font-bold;
}
#editorjs h4 {
  @apply text-2xl font-bold;
}
